@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

/**Main color: #00d1a7;**/
/**Global styles**/
* {
	box-sizing: border-box;
}
body {
	color:white;
	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    min-width:1250px;	
}
body, html {
	height: 100%;
}

a {
	color:#00d1a7;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
.clear {
	clear:both;
	display:block;
	width:100%;
}
.boldColored {
	color:#00d1a7;
	font-weight: 400;
	font-style:italic;
}
input {
	outline:none;
}
.inputLine {
	margin: 10px 0;
}
.textInput {
	background:transparent;
	border:none;
	border-bottom:solid 1px white;
	color:white;
	font-size:16px;
	height:50px;
	padding:0 10px;
}

.formDark {
	margin: 0 auto;
	width:40%;
}
.formDark .textInput {
	border-color:rgb(25,25,25);
	color:rgb(25,25,25);
	width:calc(100% - 50px);
}
.formDark .inputIcon {
	border-color:rgb(25,25,25);
	color:rgb(25,25,25);
}

.textInput:focus, .inputIcon + .textInputWithIcon:focus {
	border-color:#00d1a7;
	transition:0.15s ease-in-out all;
}
.textInputWithIcon {
	width:calc(100% - 50px);
}

.inputIcon {
	border:none;
	border-bottom:solid 1px white;
	float:left;
	height:50px;
	text-align:center;
	width:50px;
}
.inputIcon i {
	line-height:50px;
}

.button {
	background: #00d1a7;
	border:solid 2px #00d1a7;
	border-radius:23px;
	color:white;
	cursor:pointer;
	display:block;
	font-size:20px;
	height:46px;
	line-height:46px;
	margin: 15px auto;
	min-width:46px;
	text-align:center;
	width:80%;
}
.button:hover {
	background:transparent;
	color:#00d1a7;
	transition:0.15s ease-in-out all;
}
/*Table*/
.table {
	border:none;
	width:100%;
}
.table > thead > tr > th {
	background:rgba(25,25,25,.65);
	font-size:20px;
	line-height:50px;
	height:50px;
}
.table > tbody > tr > td.titleColumn {
	background:rgba(25,25,25,.65);
	font-size:20px;
	width:200px;
}
.table >tbody > tr {
	background:rgba(50,50,50,.85) !important;
}
.table >tbody > tr:hover, .table >tbody > tr:nth-child(even):hover {
	background:rgba(25,25,25,.99) !important;
	transition:0.15s ease-in-out all;
}
.table >tbody > tr:nth-child(even) {
	background:rgba(30,30,30,.85) !important;
}
.table > tbody > tr > td {
	height:40px;
	line-height: 40px;
	padding:0 25px;
}
.table > tbody > .myTrip {
	background:rgba(0,209,168,.65) !important;
}
.table > tbody > .myTrip a {
	color:#1361D4;
}


/*Wrappers*/
.wrapper {
	background:url('../img/bg1.jpg')fixed center no-repeat;
	background-size:cover;
	width:100%;
	min-height:100%;
}
.noScrollWrapper {
	width:100vw;
	height:100vh;
	overflow:hidden;
}
.centeredWrapper {
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}

.transparentBox {
	background:rgba(10,10,10,.70);
	border-radius:3px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
}
.animatedBackground {
	background:url('../img/bg1.jpg')center no-repeat;
	background-size:cover;
	animation-name: backgroundLoop;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -moz-animation-name: backgroundLoop;
	-moz-animation-duration: 80s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;
	-webkit-animation-name: backgroundLoop;
    -webkit-animation-duration: 80s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
	
}
main {
	background:rgba(255,255,255,0.75);
	margin:0 auto;
	min-height: calc(100vh - 150px);;
	padding:25px;
	width:85%;
}
main > h1 {
	color:rgb(25,25,25);
	font-size:25px;
	font-weight:400;
	margin-bottom:15px;
}
main > p {
	color:rgb(45,45,45);
	margin-bottom:15px;
}
footer {
	background:rgba(25,25,25,.8);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
	height:75px;
	line-height:75px;
	padding:0 50px;
	width:100%;
}
footer a {
	float:left;
}
footer p {
	float:right;
}
/**Message*/
.message {
	cursor:pointer;
	margin:0 auto;
	padding:10px;
	position:absolute;
	top:75px;left:0;right:0;
	width:40%;
}


.errorMessage > .messageIcon > i::before {
	content:"\f057";
}
.warningMessage > .messageIcon > i::before {
	content:"\f06a";
}
.okMessage > .messageIcon > i::before {
	content:"\f058 ";
}
.errorMessage, .errorMessage > .messageIcon {
	background:#ce4e54;
}
.warningMessage, .warningMessage > .messageIcon {
	background:#d8a404;
}
.okMessage, .okMessage > .messageIcon {
	background:#699852;
}
.messageIcon {
	height:40px;
	position:absolute;
	text-align: center;
	bottom:calc(-100% - 4px);left:0;
	width:40px;
}
.messageIcon i{
	line-height: 40px;
}


/**Menu**/
.horizontalMenu {
	background:rgba(25,25,25,.8);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
	height:75px;
	line-height: 75px;
	width:100%;
}
.horizontalMenuInnerWrapper {
	height:100%;
	margin:0 auto;
	width:85%;
}
.horizontalMenuInnerWrapper > .menuLogo {
	float:left;
}
.horizontalMenuInnerWrapper > .menuLogo > a {
	font-size:25px;
	text-decoration:none;
}
.horizontalMenuInnerWrapper > .menuLogo > a > img {
	float:left;
	height:75px;
	margin-right:15px;
	padding:10px 0;
}
.horizontalMenuInnerWrapper > ul > li {
	float:left;
	padding:0 25px;
}
.horizontalMenuInnerWrapper > ul > li:hover {
	background:rgba(100,100,100,.65);
	transition:0.15s ease-in-out all;
}
.horizontalMenuInnerWrapper > ul > li.activeLink {
	background:rgba(100,100,100,.8);
}
.horizontalMenuInnerWrapper > ul > li > a {
	font-size: 18px;

	text-decoration: none;
}
.horizontalMenuInnerWrapper > ul > li > a > i {
	float:left;
	line-height:75px;
	margin-right:15px;
}

.horizontalMenuInnerWrapper > .horizontalMenu_links {
	float:left;
	margin-left:75px;
}
.horizontalMenuInnerWrapper > .horizontalMenu_user_links {
	float:right;
}


/**Login and register**/
#loginForm, #registerForm {
	padding:25px;
	text-align:center;
	width:400px;
}
#loginForm .button, #registerForm .button {
	margin-top:30px;
}
#loginForm p {
	margin:15px 0;
}
#loginForm a {
	font-size:20px;
}
/*Animations*/
@keyframes backgroundLoop {
    0%   {background:url('../img/bg1.jpg')center no-repeat;}
    10%  {background:url('../img/bg1.jpg')center no-repeat;}
    25%  {background:url('../img/bg2.jpg')center no-repeat;}
    35%  {background:url('../img/bg2.jpg')center no-repeat;}
    50%  {background:url('../img/bg3.jpg')center no-repeat;}
    60%  {background:url('../img/bg3.jpg')center no-repeat;}
    75%  {background:url('../img/bg4.jpg')center no-repeat;}
    85%  {background:url('../img/bg4.jpg')center no-repeat;}
    100% {background:url('../img/bg1.jpg')center no-repeat;}
}